html, body, div, p {
    border: 0;
    color: #4D4D4D;
    font: inherit;
    font-size: 100%;
    font-family: 'Roboto', Verdana, "Trebuchet MS", Arial, sans-serif;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

a, a:visited {
    color: rgba(0, 0, 0, .6);
}

a:hover {
    color: #FF745F;
    transition: color 0.3s ease;
}

h1 {
    font-size: 2em;
    color: #FF745F;
    margin: 0 0 20px 0;
}

h2 {
    background: linear-gradient(180deg,
        rgba(0,0,0,0) calc(50% - 1px),
        rgba(192,192,192,1) calc(50%),
        rgba(0,0,0,0) calc(50% + 1px)
    );
    font-size: 0.8em;
    font-weight: normal;
    margin-top: 40px;
}

h2 > span {
    background: #FFF;
    padding-right: 5px;
    text-transform: uppercase;
}

h3 {
    font-size: 1.2em;
    margin-bottom: 0;
}

h4 {
    font-size: 1em;
    margin-bottom: 0;
}

h5 {
    color: #888;
    font-size: 0.8em;
    font-style: italic;
    font-weight: normal;
    margin: 5px 0;
}

body, header, main {
    margin: 0 auto;
}

header {
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    width: 800px;
}

header > section {
    margin-left: 40px;
}

header article {
    font-size: 1.5em;
}

header footer {
    margin: 20px auto;
    /*text-align: center;*/
}

header footer a {
    padding-right: 10px;
}

header footer a:hover {
    opacity: 0.8;
    cursor: pointer;
}

main {
    width: 1000px;
    margin-bottom: 40px;
}

.flex-column-1 article > ul > li {
    padding-bottom: 10px;
}

.full-width {
    width: 1000px;
}

.flex-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
}

.flex-box-wrap { flex-wrap: wrap; }

.flex-box-wrap li { width: 300px; }
.flex-box-wrap li:nth-child(n+4) { margin-top: 40px; }

.flex-column { flex-direction: column; }

.flex-column-1 {
    -webkit-flex: 2 0 0;
    flex: 2 0 0;
    margin-right: 20px;
}

.flex-column-2 {
    -webkit-flex: 1 0 0;
   flex: 1 0 0;
}

article .project-description {
    padding-top: 10px;
    text-align: left;
}

article section {
    text-align: center;
}

article section img {
    margin-top: 20px;
}

article footer {
    font-size: 0.8em;
    margin-top: 15px;
    text-align: center;
}

.remove-list-style {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.skills li {
    background: rgba(255, 116, 95, 1);
    border-radius: 5px;
    color: white;
    display: inline-block;
    margin: 5px 0;
    padding: 5px 7px;
}

.skills .medium {
    background: rgba(255, 116, 95, 0.7);
}

.skills .light {
    background: rgba(255, 116, 95, 0.4);
}

body > footer {
    background-color: #BAE4E5;
    font-size: 0.8em;
    padding: 20px 0 20px;
    text-align: center;
}
